[client]
port=3306

[mysql]

[mysqld]
# workaround for windows
# innodb-use-native-aio=0
# innodb-flush-method=fsync

server_id=100
log-bin=mysql-bin

binlog_cache_size = 4m
max_binlog_cache_size = 512m
binlog_format = mixed
expire_logs_days = 7
max_binlog_size = 100m


character-set-server=utf8mb4
default-storage-engine=INNODB

skip-host-cache
skip-name-resolve

max_allowed_packet=100M
expire_logs_days=10

slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=1
log-queries-not-using-indexes=0
#min_examined_row_limit=100
log_slow_slave_statements=0
log-slow-admin-statements=1
log_bin_trust_function_creators=1
innodb_flush_log_at_trx_commit=2

log_error = /var/log/mysql/error.log
max_connections = 1024
back_log = 128
wait_timeout = 100
interactive_timeout = 200
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION